mutants.out
mutants.out.old

**/target
**/Cargo.lock

# Output of some examples
my_db.db3
my_db.wal
my_db.shm

# Local IDE & editor files
.idea/

# Tarpaulin & code coverage artefacts
lcov.info
tarpaulin-report.html
